.once-debt {
    width: 94%;
    margin: 0 auto;
    margin-top: 8px;
}

#debt-add-menu {
    height: 410px;
}

#debt-edit-menu {
    height: 220px;
}

#debt-me-or-not,
#debt-add-or-sub,
#debt-person {
    width: 95%;
}

#debt-me-or-not-container,
#debt-add-or-sub-container,
#debt-person-container {
    margin-left: 16px;
    padding-bottom: 16px;
}

#debt-me-or-not-container>div,
#debt-add-or-sub-container>div,
#debt-person-container>div {
    bottom: 64px;
    left: 14px;
}

#debt-me-or-not-container>i,
#debt-add-or-sub-container>i,
#debt-person-container>i {
    float: right;
    position: relative;
    bottom: 39px;
    right: 32px;
    color: rgba(0, 0, 0, 0.6);
}