* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Roboto;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.prototype {
    display: none !important;
}

.page-elements {
    padding-top: 56px;
}

.trash-view {
    padding-bottom: 65px;
}

#swipeFix {
    position: absolute;
    font-size: 0px;
    color: #fff;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/*test*/
#left-main-menu {
    background-color: #efe5fd;
}

#left-main-menu>div {
    color: #6002ee;
}

#left-main-menu>i {
    color: #6002ee;
}