#main-money-card {
    width: 94%;
    margin: 0 2.5%;
    margin-top: 8px;
}

.once-account {
    width: 45%;
    margin-top: 12px;
}

.once-account:nth-child(even) {
    margin-left: 2.5%;
    float: left;
}

.once-account:nth-child(odd) {
    margin-right: 2.5%;
    float: right;
}

.card>div:nth-child(1) {
    padding-bottom: 4px;
}

.card>div:nth-child(2) {
    padding-top: 4px;
}

#last-history {
    width: 94%;
    margin: 0 2.5%;
    margin-top: 12px;
}

#money-add-menu {
    height: 400px;
}

#add-title-container {
    padding-bottom: 0px;
}

#add-number-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#add-select-account {
    width: 95%;
}

#add-account-container {
    margin-left: 16px;
}

#add-account-container>div {
    bottom: 64px;
    left: 14px;
}

#add-account-container>i {
    float: right;
    position: relative;
    bottom: 39px;
    right: 32px;
    color: rgba(0, 0, 0, 0.6);
}

#add-money-fab>.fab-add {
    height: 40px;
}

#add-money-fab>.fab-remove {
    height: 40px;
}

#add-money-accept {
    margin-right: -5px;
    margin-top: 10px;

}

.width-25 {
    width: 25%;
}