@keyframes fab-rotate {
    50% {
        transform: rotate(135deg);
    }
}

/*top bar*/
.top-bar {
    z-index: 1;
    position: fixed;
    background-color: #FFF;
    height: 56px;
    width: 100%;
}

.top-bar>div {
    float: left;
}

.top-text {
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
}

.top-left-button {
    padding: 16px;
}

/*card*/
.card {
    display: block;
    border: 2px solid #eee;
    border-radius: 4px;
}

.card>div {
    font-weight: 500;
    padding: 16px;
}

.card-big {
    font-size: 32px;
}

.card-middle {
    font-size: 21px;
}

.card-small {
    font-size: 17px;
    color: #757575
}

.card>.card-button {
    color: #6002ee;
    padding-top: 8px;
}

/*fab*/
.floating-action-button {
    z-index: 1;
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    padding-bottom: 12px;
    background-color: #6002ee;
    border-radius: 28px;
}

.floating-action-button>i {
    color: #fff;
}

.floating-action-button:onclick>i {
    animation: fab-rotate 5s infinite;
}

/*fade*/
#fade {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
}

/*left menu*/
#left-menu {
    z-index: 4;
    position: fixed;
    left: -256px;
    width: 256px;
    height: 100%;
    background-color: #fff;
}

#left-title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 16px;
}

.left-element {
    height: 42px;
    width: 240px;
    margin: 3px 8px;
    border-radius: 4px;
}

.left-element>div {
    float: left;
    padding-left: 24px;
    padding-top: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.left-element>.material-icons {
    float: left;
    padding-left: 8px;
    padding-top: 9px;
    color: #757575;
}

/*bottom menu*/
.bottom-menu {
    z-index: 4;
    position: fixed;
    width: 100%;
    bottom: -400px;
    background-color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bottom-menu>div:first-child {
    padding: 16px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.bottom-menu>.bottom-close {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 16px;
}

.bottom-button {
    float: right;
    margin-top: -6px;
    margin-bottom: 12px;
    margin-right: 16px;
    border-radius: 4px;
    padding: 10px 16px;
    background-color: #6002ee;
    color: #fff;
}

/*text input*/
.text-input {
    padding: 16px;
}

.text-input>input {
    width: 89%;
    border: 2px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 16px;
}

.text-input>input:focus {
    outline: none;
    border-color: #6002ee;
}

.on-input-text {
    display: inline;
    position: relative;
    padding: 4px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.60);
    bottom: 66px;
    left: 13px;
}

.focused>div {
    color: #6002ee;
}

/*select*/
.select {
    border: 2px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 16px;
    -webkit-appearance: none;
}

.select:focus {
    outline: none;
    border-color: #6002ee;
}

/*fab menu*/
.fab-menu {
    z-index: 3;
    height: 100px;
    width: 250px;
    position: fixed;
    bottom: -100px;
    right: 16px;
}

.fab-menu>div {
    background-color: #fff;
    border-radius: 20px;
    margin: 8px 4px;
    font-weight: 500;
    float: right;
}

.fab-menu>div>div {
    padding: 10px 10px 10px 20px;
    float: right;
}

.fab-menu>div>i {
    padding: 8px;
    float: right;
}

/* dolna nawigacja */
.bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.bottom-bar-button {
    float: left;
    color: #a578ff;
    padding-top: 16px;
    text-align: center;
}

.bottom-bar-button>div:nth-child(2) {
    display: none;
    font-size: 12px;
    font-weight: 500;
}

.bottom-bar-selected {
    padding-top: 8px;
    color: #6002ee;
}

.bottom-bar-selected>div:nth-child(2) {
    display: block;
}

/* pop up */
.pop-up {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 108px;
    top: 38%;
    border-radius: 4px;
}

.pop-up>div:first-child {
    padding: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.60);
    font-weight: 500;
}

.pop-up-button-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.pop-up-button-container>div {
    color: #6002ee;
    float: right;
    padding: 0px 16px 16px 8px;
    font-weight: 500;
}